/*
Brandon Xue          brandonx@csu.fullerton.edu
Ernesto Hoogkkirk    Ernesto_Hooghkirk@csu.fullerton.edu
Ryan Martinez        rmartinez72@csu.fullerton.edu
 
Last maintained (YYMMDD): 200920
 
Style sheet for our html elements. Some elements use pseudo-classes
to create special on-hover effects.
*/

*:focus{
    outline: none;
}

#title {
    font-size: 4vw;
}

body {
    text-align: center;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

.site-wrapper-update {
    display: flex;
    background-color: lime;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

.parent {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-buttons {
    font: small-caps bold 24px/1 sans-serif;
    font-size: 1.3vw;
    text-align: center;
    height: 10%;
    width: 100%;
    border: 0.3vw solid black;
    border-left-width: 0;
    border-right-width: 0;
    position: relative;
    cursor: pointer;
}

.main-buttons:hover {
    border: rgb(200, 0, 0);
    color: rgb(200, 0, 0);
    border-style: solid;
}

.gif-box {
    background-color: white;
    height: 24%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-gif {
    position: relative;
    height: 13.824vw;
    width: 20.576vw;
}

.stacked-panel-holder {
    width: 23vw;
    height: 49vw;
    margin: 0;
    padding: 0;
    display: flex;
    border: 0.6vw solid black;
    position: relative;
}

.stacked-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 23vw;
    height: 49vw;
    border: 0;
    left: 0;
    top: 0;
}

#main-side-panel {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 23vw;
    height: 49vw;
    border: 0;
    left: 0;
    top: 0;
    z-index: 10;
}

.side-panel {
    display: flex;
    flex-direction: column;
    width: 23vw;
    height: 49vw;
    border: 0.6vw solid black;
    position: relative;
    padding: 0px;
}

.box-label-top {
    font: small-caps bold 24px/1 sans-serif;
    font-size: 1.7vw;
    text-align: center;
    border-bottom: 0.6vw solid black;
    background-color: white;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.box-label {
    font: small-caps bold 24px/1 sans-serif;
    font-size: 1.7vw;
    text-align: center;
    border-top: 0.6vw solid black;
    border-bottom: 0.6vw solid black;
    background-color: white;
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

#return-to-main {
    font: small-caps bold 24px/1 sans-serif;
    font-size: 1.2vw;
    text-align: center;
    border: 0 solid black;
    border-top: 0.3vw solid black;
    width: 100%;
    height: 7%;
    cursor: pointer;
}

#return-to-main:hover {
    background-color: rgb(215, 246, 255);
}

#bottom-right-label {
    font: small-caps bold 24px/1 sans-serif;
    font-size: 1.7vw;
    text-align: center;
    border-top: 0.3vw solid black;
    width: 100%;
    height: 7%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.options-pane-outer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 24%;
    padding: 0px;
}

.options-pane-inner {
    font: small-caps bold 24px/1 sans-serif;
    font-size: 1.2vw;
    width: 90%;
    height: 100%;
    border-left: 0.4vw solid black;
    border-right: 0.4vw solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.gen-maze-op-row {
    font: small-caps bold 24px/1 sans-serif;
    font-size: 1.6vw;
}

.maze-ctrl-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.ctrl-button {
    cursor: pointer;
    border-radius: 25%;
    border: 0.4vw solid black;
}

.ctrl-button:hover {
    background-color: rgb(215, 246, 255);
}

#canvas-div {
    position: relative;
    display: flex;
}

.gif-placeholder {
    display:flex;
    width: 100%;
    height: 24%;
    background-color: white;
}

#dlc {
    cursor: pointer;
    width: 8vw;
}

#shrek {
    width: 7vw;
}

.maze-alg-button {
    font-size: 1.2vw;
    border: 0.4vw solid black;
    border-radius: 25%;
    width: 90%;
    cursor: pointer;
    outline: none;
}

.maze-alg-button:hover {
    background-color: rgb(215, 246, 255);
}

.button-inner{
    width: 2vw;
    height: 2vw;
}

.left-text-box{
    width: 3vw;
    font-size: 1.5vw;
}